.anchor {
	top: 0px;
	
}

body {
	margin:0px;
	padding:20px;
}

.clear{clear:both;} 



a {
text-decoration: none;
color: #212121;
}

a:link {
	text-decoration : none;
	color: #212121;
	
}

a:visited {
	text-decoration : none;
	color: #212121;
	
}

a:hover {
	text-decoration : none;	
	color: #212121;
}

h1{
	font-family: 'Quattrocento', serif;
}

h3{
	font-family: 'Quattrocento', serif;
}

p{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav{
	margin:auto;
	position: fixed;
	background-color:turquoise;
	height:50px;
	width:100%;
	
}

#header1
{
	
	float: left;
	top:0px;
	left:10px;
	display: flex;
	display: -webkit-flex;	
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin:auto;

}
	


#logo{
	align-self: center;
	flex: 1 1 0;
}

#contact{
	align-self: center;
	flex: 1 1 0;
}
.clear{clear:both;}


#header2
{
	top:0px;
	float: right;
	margin:auto;
	display: flex;
	display: -webkit-flex;	
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin:auto;
	padding-right: 20px;
	
}

#login{
	align-self: center;
	flex: 1 1 0;
}
#user{
	align-self: center;
	flex: 1 1 0;
}

#pass{
	align-self: center;
	flex: 1 1 0;
}

#loginbutton{
	align-self: center;
	flex: 1 1 0;
}