.anchor {
	top: 0px;
	
}

body {
	margin:0px;
	padding:0px;
}

.clear{clear:both;} 



a {
text-decoration: none;
color: #212121;
}

a:link {
	text-decoration : none;
	color: #212121;
	
}

a:visited {
	text-decoration : none;
	color: #212121;
	
}

a:hover {
	text-decoration : none;	
	color: #212121;
}

#header1
{
	margin: auto;
	float: left;
	top:0px;
}